<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="listeners" javaclass="com.wm.util.Values">
    <record name="FTPListener@9021" javaclass="com.wm.util.Values">
      <number name="port" type="Integer">9021</number>
      <value name="protocol">FTP</value>
      <value name="pkg">CommonSupport</value>
      <value name="enabled">true</value>
      <value name="key">FTPListener@9021</value>
      <value name="uniqueID">9344b08ca10833931410609dcf9</value>
      <value name="portAlias">FTPListener_9021_CommonSupport</value>
      <value name="portDescription">Integration Server FTP port: 9021</value>
      <value name="factoryKey">webMethods/FTP</value>
      <value name="configURL">/WmRoot/configFTP.dsp</value>
      <value name="provider">webMethods</value>
      <null name="pasvAddr"/>
    </record>
    <record name="HTTPSListener@9543" javaclass="com.wm.util.Values">
      <number name="port" type="Integer">9543</number>
      <value name="protocol">HTTPS</value>
      <value name="pkg">CommonSupport</value>
      <value name="enabled">true</value>
      <value name="key">HTTPSListener@9543</value>
      <value name="uniqueID">c65cc4bead1449521410609dcfe</value>
      <value name="portAlias">HTTPSListener_9543_CommonSupport</value>
      <value name="portDescription">Integration Server HTTPS port: 9543</value>
      <value name="factoryKey">webMethods/HTTP</value>
      <value name="configURL">/WmRoot/configHTTP.dsp</value>
      <value name="provider">webMethods</value>
      <value name="listenerType">Regular</value>
      <value name="clientAuth">require</value>
      <value name="ssl">true</value>
      <value name="maxQueue">200</value>
      <value name="keepAliveTimeout">20000</value>
      <value name="internalPort">-1</value>
      <value name="curDelay">0</value>
      <value name="stepsize">10000</value>
      <value name="suspended">false</value>
      <null name="alias"/>
      <null name="keyStore"/>
      <null name="trustStore"/>
      <value name="useJSSE">false</value>
    </record>
    <record name="HTTPSListener@9443" javaclass="com.wm.util.Values">
      <number name="port" type="Integer">9443</number>
      <value name="protocol">HTTPS</value>
      <value name="pkg">CommonSupport</value>
      <value name="enabled">true</value>
      <value name="key">HTTPSListener@9443</value>
      <value name="uniqueID">97b43d89864b7cad1410609de20</value>
      <value name="portAlias">HTTPSListener_9443_CommonSupport</value>
      <value name="portDescription">Integration Server HTTPS port: 9443</value>
      <value name="factoryKey">webMethods/HTTP</value>
      <value name="configURL">/WmRoot/configHTTP.dsp</value>
      <value name="provider">webMethods</value>
      <value name="listenerType">Regular</value>
      <value name="clientAuth">none</value>
      <value name="ssl">true</value>
      <value name="maxQueue">65534</value>
      <value name="keepAliveTimeout">20000</value>
      <value name="internalPort">-1</value>
      <value name="curDelay">0</value>
      <value name="stepsize">10000</value>
      <value name="suspended">false</value>
      <null name="alias"/>
      <null name="keyStore"/>
      <null name="trustStore"/>
      <value name="useJSSE">false</value>
    </record>
  </record>
  <record name="access" javaclass="com.wm.util.Values">
    <record name="FTPListener@9021" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">exclude</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
        </list>
      </record>
      <value name="key">FTPListener@9021</value>
    </record>
    <record name="HTTPSListener@9543" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">exclude</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
        </list>
      </record>
      <value name="key">HTTPSListener@9543</value>
    </record>
    <record name="HTTPSListener@9443" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">exclude</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
        </list>
      </record>
      <value name="key">HTTPSListener@9443</value>
    </record>
  </record>
</Values>
